@import "partials/variables";
@import "partials/universales";
@import "partials/body";
@import "partials/header";
@import "partials/generales";
@import "partials/mainIndex";
@import "partials/mainTurismo";
@import "partials/mainComidas";
@import "partials/mainOtaku";
@import "partials/footer";
@import "partials/meadiaQ";