* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo{
    background-color: #e7dfb8;
    overflow-x: hidden;
}
.cabecera {
    background-color: #eb7a8d;
}
div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}
.logo{
    width: 8%;
    margin-left: 42%;
}
h1{
    font-family: "IBM Plex Mono", serif;
    font-weight: 700;
    font-style:italic;
    font-size: 200%;
}
h2{
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style:italic;
    font-size: 150%;
}
p{
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal;
}
h3{
    font-family: "IBM Plex Mono", serif;
    font-weight: 600;
    font-style:italic;
}
.imagenIndex{
    width: 500px;
}
footer{
    background-color: #7295B4;
}
.redes{
    width: 5.5vh;
}
.sitiosTuristicos{
    background-color: #f3e9bd;
    width: 50%;
}
li{
    font-family: "Varela Round", serif;
    font-weight: 400;
    font-style: normal; 
}
.sitiosOtakus{
    width: 600px;
    height: 25rem;
}
.mapa{
    position: absolute;
    top: 50vh;
}
.fotoTokyo{
    height: 58%;
}
.menu{
    height: 100vh;
    display: flex;
    width: 31vh;
    position:relative;
}
.itemComida{
display:flex;
}
@media (max-width: 576px){
    .logo{
        width: 1%;
        margin-top: -15%;
        margin-left: -1%;
    }
    .sectionIndex{
        row-gap: 2rem;
    }
    .cabecera{
        display: flex;
        flex-direction: row-reverse;
    }
    .menu{
        display: none;
    }
    .tituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 23%;
    }
    .subtituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 10%;;
    }
    .ingredientes{
        display: flex;
        justify-content: center;
        margin-left: 11%;
    }
    .listaIngredientes{
        position: relative;
        left: 35%;
    }
    main{
        overflow-x: hidden;
    }
    footer{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
    .videoComidas{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    .mainOtaku{
        display: flex;
        flex-direction: column;
    }
    .sectionOtaku{
        order: 2;
    }
    #carouselExample { 
        margin: auto;
        order: 1;
        width: 60% !important;
    }
    .sitiosOtakus{
        height: 55%;
    }
    .mapaOtaku{
        height: 55%;
    }
        .silabarios{
            width: 75%;
            margin-left: 10%;
    }
    .nombreSilabario{
        margin-left: 35%;
    }

}

@media (max-width: 768px){
    .logo{
        width: 14%;
        margin-top: -10%;
        margin-left: -1%;
    }
    .sectionIndex{
        row-gap: 3rem
    }
    .imagenTurismo{
        height: 10rem;
    }
    .mapaTurismo{
        height: 10rem;
    }
    .sectionIndex{
        row-gap: 2rem;
    }
    .cabecera{
        display: flex;
        flex-direction: row-reverse;
    }
    .menu{
        display: none;
    }
    .tituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 23%;
    }
    .subtituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 10%;;
    }
    .ingredientes{
        display: flex;
        justify-content: center;
        margin-left: 11%;
    }
    .listaIngredientes{
        position: relative;
        left: 35%;
    }
    main{
        overflow-x: hidden;
    }
    footer{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
    .videoComidas{
        margin-left: 25%;
        margin-bottom: 5%;
    }
}