.menu{
    height: 100vh;
    display: flex;
    width: 31vh;
    position:relative;
    div{
        background-color: $colorterciario;
        ul{
            li{
                background-color: $colorterciario;
                a{
                    text-decoration: solid;
                    color: black;
                }
            }
        }
    }
    
}