@media (max-width: 576px){
    .logo{
            margin-right: 45%;
            width: 15% !important;
            }
    .sectionIndex{
        row-gap: 2rem;
    }
    .cabecera{
        display: flex;
        flex-direction: row-reverse;
    }
    .menu{
        display: none;
    }
    .tituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 23%;
    }
    .subtituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 10%;

    }
    .ingredientes{
        display: flex;
        justify-content: center;
        margin-left: 11%;
    }
    .listaIngredientes{
        position: relative;
        left: 0;
        width: 100%;

    }
    footer{
        overflow-x: hidden;
    }
    header{
        overflow-x: hidden;
    }
    .videoComidas{
        margin-left: 25%;
        margin-bottom: 5%;
    }
    .mainOtaku{
        display: flex;
        flex-direction: column;
    }
    .sectionOtaku{
        order: 2;
    }
    #carouselExample { 
        margin: auto;
        order: 1;
        width: 60% !important;
    }
    .sitiosOtakus{
        height: 55%;
    }
    .mapaOtaku{
        height: 55%;
    }
        .silabarios{
            width: 75%;
            margin-left: 10%;
    }
    .nombreSilabario{
        margin-left: 35%;
    }
    .asideWpp{
            position:fixed;
            animation-name: rotacion;
            animation-duration: 70s;
            animation-iteration-count: infinite;
            animation-delay: 0;
            left: 80%;
            top: 8%; 
                img{
                    border: 7px solid #B6FFA1;
                    border-radius: 50%;
                }
        @keyframes rotacion{
            0%{
                transform: rotate(0deg);
            }
            100%{
                transform: rotate(3600deg);
            }
        }
        
    }

}
@media (max-width: 768px){
    .logo{
        margin-right: 45%;
        width: 12% !important;
        margin-top: -10%;
    }
    .sectionIndex{
        row-gap: 3rem
    }
    .imagenTurismo{
        height: 10rem;
    }
    .mapaTurismo{
        height: 10rem;
    }
    .sectionIndex{
        row-gap: 2rem;
    }
    .cabecera{
        display: flex;
        flex-direction: row-reverse;
    }
    .menu{
        display: none;
    }
    .tituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 23%;
    }
    .subtituloComidas{
        display: flex;
        justify-content: center;
        margin-left: 10%;;
    }
    .ingredientes{
        display: flex;
        justify-content: center;
        margin-left: 11%;
    }
    .listaIngredientes{
        position: relative;
        left: 20%;

        li{
            display: inline-block;
            box-sizing: border-box;
        }
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        padding: 20px;
        box-sizing: border-box;
        section {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
          }
    }
    header{
        overflow-x: hidden;
    }
    .videoComidas{
        margin-left: 14%;
        margin-bottom: 5%;
    }
    .mainOtaku{
        display: flex;
        flex-direction: column;
    }
    .sectionOtaku{
        order: 2;
    }
    #carouselExample { 
        margin: auto;
        order: 1;
        width: 60% !important;
    }
    .sitiosOtakus{
        height: 55%;
    }
    .mapaOtaku{
        height: 55%;
    }
    .silabarios{
        width: 75%;
        margin-left: 10%;
    }
    .nombreSilabario{
    margin-left: 35%;
    }
    .asideWpp{
        position:fixed;
        animation-name: rotacion;
        animation-duration: 70s;
        animation-iteration-count: infinite;
        animation-delay: 0;
        left: 80%;
        top: 85%; 
            img{
                border: 7px solid #B6FFA1;
                border-radius: 50%;
            }
    @keyframes rotacion{
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(3600deg);
        }
    }
    
}
}